.pagination {
margin: 0px !important;
}

.modal-backdrop.in {
	opacity: 0.9;
}

.img_canvas{
	margin:5px;
}
.text_spacer{
margin-bottom:5px;	
}
.min_height{
	display:block;
	overflow:auto;
	min-height:640px; !important
}
.min_height_setup{
	display:block;
	overflow:auto;
	min-height:640px; !important	
	margin-bottom:5px;
}
.custom_well{
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius:3px;
  padding: 12px;
}
.well_gray{
  background-color: #ddd;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius:0px;
  padding: 12px;
  min-height:430px;
}
.custom_border{
	border: 1px solid;
	border-color: #fff #d0d1d5 #fff #fff;
	//min-height:480px;
}
.btn-upload{
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;	
}
.custom_textbox_xs{
	   background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #6f6f6f;
    display: block;
    font-size: 13px;
    height: 36px;
    line-height: 1.4;
    padding: 8px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.custom_textbox_sm{
	background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #6f6f6f;
    display: block;
    font-size: 15px;
    height: 40px;
    line-height: 1.4;
    padding: 8px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.custom_textbox_md{
	   background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #6f6f6f;
    display: block;
    font-size: 15px;
    height: 50px;
    line-height: 1.4;
    padding: 8px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
   	width: 100%;
}
.custom_textbox_lg{
	background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #6f6f6f;
    display: block;
    font-size: 15px;
    height: 60px;
    line-height: 1.4;
    padding: 8px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.text-head{
	font-size: 16px;
}

/*.navbar-default { background-color: #FFC8F1}*/
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { cursor: pointer;}
/*.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus { background-color: #FFAAD3}
.dropdown-menu { background-color: #FFC8F1}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #FFAAD3}
.navbar-default { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-default { border-color: #FFC8F1}
.navbar-default .navbar-brand { color: #333333}
.navbar-default .navbar-brand:hover { color: #333333}
.navbar-default .navbar-nav>li>a { color: #333333}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { color: #333333}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus { color: #333333}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus { color: #333333}
*/
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #000000;
    border-color: #ffffff;
}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #333333}
.navbar-default .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-default .navbar-nav>.dropdown>a:hover .caret { border-top-color: #333333}
.navbar-default .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-default .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #333333}
.navbar-default .dropdown-menu {
     background-color: #665c5c; 
}
.navbar-default .dropdown-menu > li > a:hover,
.navbar-default .dropdown-menu > .active > a,
.navbar-default .dropdown-menu > .active > a:hover {
  background-color: #000000;
  color: #333333;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #000000;
  color: #ffffff;
}
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #000000;
  }
.navbar-default .dropdown-menu > li > a, .navbar-default .dropdown-menu > li > a:focus {
    color: #ffffff !important;
}  
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff !important;
    background-color: #000000 !important;
}  

#footer {
    background-color: #665c5c;
    color: #fff;
    width: 100%;
    font-size: 12px;
    height:50px;
    padding:18px;
}
.btn-pink {
    color: #ffffff;
    background-color: #810000;
    border-color: #810000;
}
.text-pink{
	border-color: #665c5c;
	 outline: none;
}
.text-pink:focus { 
    border-color: #665c5c;
    
}

.flex-caption {
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}

.nav-tabs{
  background-color:#fff;
}
.tab-content{
    background-color:#fff;
    color:#fff;
    padding:5px
}

.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a {
  background-color: #665c5c !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}
.nav-tabs > li > a:hover{
  background-color: #665c5c !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
 }   
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
} 
 .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.top{background-color:#ddd;}
.panel-primary > .panel-heading-custom {
color: #fff; background-color:#ad6f69 ; border-color:#ad6f69 ; }
.panel-primary {border-color:#ad6f69 !important ;}
.panel-title {color:#000;}
.img-minheight{
	 margin:0px; /*border:0px solid #665c5c; border-radius:5px; padding:3px*/;
}
.price{font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;  font-weight: bold; text-align:center;}
.custom_input{ height:15px; }
.custom_inputd{ background:#665c5c; height:15px; }
.title_head{
font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;  
font-weight: bold; 
color:#000;
font-size:16px;
}

.label-as-badge {
    border-radius: 1em;
}
.custom_textbox_xs[readonly]{
	background-color:#e6e6e6;
}
.tab-content {
    color: #000;
}